= image_tag(BPS::S3.new(:static).link('logos/ABC/png/light/long/tr/birmingham/2000.png'), alt: "America's Boating Club – Birmingham Squadron", class: 'light')
= image_tag(BPS::S3.new(:static).link('logos/ABC/png/dark/desat/long/tr/birmingham/2000.png'), alt: "America's Boating Club – Birmingham Squadron", class: 'dark')
