$birmingham-blue: #1086FF;
$old-glory-blue: #041E42;
$old-glory-red: #BF0D3E;
$gray: #999999;

body {
  font-family: "Arial";
  color: $old-glory-blue;
}

div.signature {
  margin-top: 2em;
  font-size: 1.1em;
}

.select {
  -webkit-user-select: all;
  user-select: all;
}

div.section {
  margin: 2em 0;
}

.birmingham {
  color: $birmingham-blue;
}

.blue {
  color: $old-glory-blue;
}

.red {
  color: $old-glory-red;
}

.gray {
  color: $gray;
}

.bold {
  font-weight: bold;
}
