script = render(partial: 'application/show_editor', formats: :js, locals: { page_name: partial })
script = render(partial: 'application/hide_editor', formats: :js, locals: { page_name: partial })

noscript: style = render(partial: 'application/editor/noscript_style', formats: :css)
