= render 'application/mailers/auto'

h1.birmingham Paid Registration

h2.red Amount paid: #{number_to_currency(@registration.payment_amount)}
h3 Received amount (est.): #{number_to_currency(@registration.payment.discounted_amount)}

- if @registration.override_comment.present?
  h3 Price override:
  = @registration.override_comment

= render 'registration'
= render 'registrant'
