= render 'application/mailers/auto'

h1.birmingham New Registration

= render 'registration'
= render 'registrant'

p
  br
  | If necessary, please reach out to this registrant for any more information.
