= link 'S3 Links', path: s3_path, admin: true, fa: { name: 'link', options: { style: :regular, fa: :fw } }
= link 'Versions', path: versions_path, admin: true, fa: { name: 'code-branch', options: { style: :regular, fa: :fw } }
