= link 'Receipts', path: receipts_path,       admin: true, fa: { name: 'file-invoice-dollar', options: { style: :regular, fa: :fw } }
= link 'S3 Links', path: admin_s3_path,       admin: true, fa: { name: 'link',                options: { style: :regular, fa: :fw } }
= link 'Versions', path: admin_versions_path, admin: true, fa: { name: 'code-branch',         options: { style: :regular, fa: :fw } }
