= link 'Receipts',    path: receipts_path,          admin: true, fa: { name: 'file-invoice-dollar', options: { style: :regular, fa: :fw } }
= link 'ABC Logos',   path: admin_logo_path,        admin: true, fa: { name: 'image',               options: { style: :regular, fa: :fw } }
= link 'S3 Links',    path: admin_s3_path,          admin: true, fa: { name: 'link',                options: { style: :regular, fa: :fw } }
= link 'Promo Codes', path: admin_promo_codes_path, admin: true, fa: { name: 'hands-usd',           options: { style: :regular, fa: :fw } }
= link 'Versions',    path: admin_versions_path,    admin: true, fa: { name: 'code-branch',         options: { style: :regular, fa: :fw } }
