= link 'All', path: completions_path,     fa: { name: 'check-double', options: { style: :regular, fa: :fw } } if current_user&.permitted?(:education)
= link 'YTD', path: completions_ytd_path, fa: { name: 'calendar-alt', options: { style: :regular, fa: :fw } } if current_user&.permitted?(:education)
