= link 'Edit This Page',                   path: edit_page_path(controller.action_name),         fa: { name: 'edit',            options: { fa: :fw } }                  if current_user&.permitted?(:page) && controller.action_name.in?(StaticPage.names)
= link "Add #{event_type_param.titleize}", path: send("new_#{event_type_param}_path"),           fa: { name: 'calendar-plus',   options: { style: :regular, fa: :fw } } if current_user&.permitted?(event_type_param)
= link 'Registrations',                    path: send("#{event_type_param}_registrations_path"), fa: { name: 'calendar-check',  options: { style: :regular, fa: :fw } } if current_user&.permitted?(event_type_param) && controller.action_name != 'registrations'
= link 'Add Location',                     path: new_location_path,                              fa: { name: 'map-marker-plus', options: { style: :regular, fa: :fw } } if (current_user&.permitted?(event_type_param) && controller_name.in?(%w[events courses seminars event_types])) || (current_user&.permitted?(:event, :seminar, :course) && controller_name.in?(%w[locations]))
= link 'Add Event Type',                   path: new_event_type_path,                            fa: { name: 'plus-hexagon',    options: { style: :regular, fa: :fw } } if (current_user&.permitted?(event_type_param) && controller_name.in?(%w[events courses seminars event_types])) || (current_user&.permitted?(:event, :seminar, :course) && controller_name.in?(%w[event_types]))
= link 'Add Training',                     path: new_otw_path,                                   fa: { name: 'plus-hexagon',    options: { style: :regular, fa: :fw } } if current_user&.permitted?(:education) && controller_name == 'otw_trainings'
