= link 'Edit This Page',                   path: edit_page_path(controller.action_name),         fa: { name: 'edit',            options: { style: :duotone, fa: :fw } }                  if show_link?(:page, action: StaticPage.names)
= link "Add #{event_type_param.titleize}", path: send("new_#{event_type_param}_path"),           fa: { name: 'calendar-plus',   options: { style: :duotone, fa: :fw } } if show_link?(event_type_param)
= link 'Registrations',                    path: send("#{event_type_param}_registrations_path"), fa: { name: 'calendar-check',  options: { style: :duotone, fa: :fw } } if show_link?(event_type_param, not_action: 'registrations')
= link 'Locations',                        path: locations_path,                                 fa: { name: 'map-marker-alt',  options: { style: :duotone, fa: :fw } } if show_link?(event_type_param, controller: %w[events courses seminars event_types])
= link 'Add Location',                     path: new_location_path,                              fa: { name: 'map-marker-plus', options: { style: :duotone, fa: :fw } } if show_link?(:event, :seminar, :course, controller: 'locations')
= link 'Event Types',                      path: event_types_path,                               fa: { name: 'list',            options: { style: :duotone, fa: :fw } } if show_link?(:admin, strict: true, controller: %w[events courses seminars event_types], not_action: 'list')
= link 'Add Event Type',                   path: new_event_type_path,                            fa: { name: 'plus-hexagon',    options: { style: :duotone, fa: :fw } } if show_link?(:admin, strict: true, controller: 'event_types')
= link 'Add Training',                     path: new_otw_path,                                   fa: { name: 'plus-hexagon',    options: { style: :duotone, fa: :fw } } if show_link?(:education, controller: 'otw_trainings')
= link 'Add Promo Code',                   path: admin_new_promo_code_path,                      fa: { name: 'hands-usd',       options: { style: :duotone, fa: :fw } } if show_link?(:admin, strict: true, controller: 'promo_codes')
