= link 'Files',   path: file_path,   fa: { name: 'upload',  options: { style: :duotone, fa: :fw } }
= link 'Headers', path: header_path, fa: { name: 'desktop', options: { style: :duotone, fa: :fw } }
