= link 'Files',   path: v2_files_path,   fa: { name: 'upload',  options: { style: :duotone, fa: :fw } }
= link 'Headers', path: v2_headers_path, fa: { name: 'desktop', options: { style: :duotone, fa: :fw } }
