= link 'Birthdays',   path: birthdays_path,   fa: { name: 'birthday-cake',   options: { style: :duotone, fa: :fw } }
= link 'Merit Marks', path: merit_marks_path, fa: { name: 'award-simple',    options: { style: :duotone, fa: :fw } }
