= link 'List Trainings', path: otw_list_path,     fa: { name: 'ship', options: { style: :duotone, fa: :fw } } if show_link?(:otw)
= link 'Requests',       path: otw_requests_path, fa: { name: 'list', options: { style: :duotone, fa: :fw } } if show_link?(:otw)
