= link 'Applications', path: applications_path, fa: { name: 'user-check', options: { style: :duotone, fa: :fw } } if show_link?(:admin, :excom)
= link 'Float Plans',  path: float_plans_path,  fa: { name: 'ship',       options: { style: :duotone, fa: :fw } } if show_link?(:float)
