= link 'Applications', path: applications_path, fa: { name: 'user-check', options: { style: :regular, fa: :fw } } if current_user&.permitted?(:admin) || current_user&.excom?
= link 'Float Plans',  path: float_plans_path,  fa: { name: 'ship',       options: { style: :regular, fa: :fw } } if current_user&.permitted?(:float)
