= link 'Award Recipients', path: roster_award_recipients_path, fa: { name: 'trophy',        options: { style: :duotone, fa: :fw } } if show_link?(:users, :roster)
= link 'P/Cs',             path: roster_past_commanders_path,  fa: { name: 'hourglass-end', options: { style: :duotone, fa: :fw } } if show_link?(:users, :roster)
= link 'Generate',         path: roster_gen_path,              fa: { name: 'file-plus',     options: { style: :duotone, fa: :fw } } if show_link?(:users, :roster)
= link 'Archives',         path: roster_archive_files_path,    fa: { name: 'archive',       options: { style: :duotone, fa: :fw } } if show_link?(:users, :roster)
