/ = link 'Update Roster',    path: update_roster_path, fa: { name: 'clipboard-list', options: { style: :duotone, fa: :fw } } if current_user&.permitted?(:roster, session: session)
= link 'Import user data', path: import_users_path,  fa: { name: 'upload', options: { style: :duotone, fa: :fw } } if show_link?(:users)
