= link 'Users List',   path: users_path,               fa: { name: 'users',       options: { style: :duotone, fa: :fw } } if show_link?(:users)
= link 'Invite User',  path: new_user_invitation_path, fa: { name: 'user-plus',   options: { style: :duotone, fa: :fw } } if show_link?(:users)
= link 'Permissions',  path: permissions_path,         fa: { name: 'user-shield', options: { style: :duotone, fa: :fw } } if show_link?(:users)
