
body {
  font-family: Arial;
  color: $old-glory-blue;

  margin: 0 20%;
  padding: 0;

  background-color: $background-blue;
}

a {
  text-decoration: none;
  color: $birmingham-blue;
}

a:hover {
  color: darken($birmingham-blue, 20%);
}

a.red:hover {
  color: lighten($old-glory-red, 10%);
}

a.blue-faded:hover {
  color: lighten($old-glory-blue, 40%);
}

a.green:hover {
  color: lighten(green, 10%);
}

sup {
  font-size: 60%;
}

.clear {
  clear: both;
}

br.clear-left {
  clear: left;
  line-height: 0;
}

br.clear-right {
  clear: right;
  line-height: 0;
}

hr {
  margin-bottom: 1.5em;
}

p.i {
  font-style: italic;
}

input.number {
  width: 5em;
}

input.big, button.big, a.big {
  @include big-button;
}

input.medium, button.medium, a.medium {
  @include medium-button;
}

input.medium.light, button.medium.light, a.medium.light {
  @include medium-button($birmingham-blue-light);
  color: $old-glory-blue;
}

input.cancel, button.cancel, a.cancel {
  @include medium-button($old-glory-red);
  min-width: 4em;
}

.center {
  text-align: center;
}

.center-block {
  margin: 0 auto;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

div#editor {
  background-color: lighten($background-blue, 3%);
  display: none;
}

a.editor {
  display: none;
}

div#editor.auto-show {
  display: block;
}

a.editor.auto-show {
  display: inline;
}

div#editor-buttons {
  padding-bottom: 1em;
}

a#show-editor, a#hide-editor {
  margin: 1em;
  font-size: 1.1em;
}

a#show-editor {
  display: inline;
}

a#hide-editor {
  display: none;
}

a#show-editor.auto-show {
  display: none;
}

a#hide-editor.auto-show {
  display: inline;
}

small.header {
  margin: 0 0.5em;
}

ul.simple {
  list-style: none;
  padding: 0;
}

.hide {
  display: none;
}

div.red-background {
  background-color: lighten($old-glory-red, 50%);
  padding: 0.25em 0;

  h4, h5 {
    margin: 0.75em;
  }
}

button.otw {
  border: none;
  background-color: lighten($background-blue, 8%);
  font-size: 1.5em;
}

div.table-row.gray {
  div.table-cell {
    color: $old-glory-blue;
    background-color: $background-blue;
  }

  button.otw {
    background-color: $background-blue;
  }
}
