body {
  font-family: Arial;
  color: $old-glory-blue;
  margin: 0 20%;
  padding: 0;
  background-color: $background-blue;
}

sup {
  font-size: 60%;
}

hr {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h1 {
  font-size: 2em;
  margin: 1em auto;
}

h2 {
  font-size: 1.7em;
  margin: 0.85em auto;
}

h3 {
  font-size: 1.5em;
  margin: 0.75em auto;
}

h4 {
  font-size: 1.3em;
  margin: 0.65em auto;
}

h5 {
  font-size: 1.1em;
  margin: 0.55em auto;
}

h6 {
  font-size: 1em;
  margin: 0.5em auto;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.bigger {
  font-size: 140%;
}

.vcenter {
  vertical-align: middle;
}

.center-block {
  margin: 0 auto;
}

.padded {
  padding: 0 0.5em;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.hide {
  display: none;
}

p.i {
  font-style: italic;
}

br.clear-left {
  clear: left;
  line-height: 0;
}

br.clear-right {
  clear: right;
  line-height: 0;
}

small.header {
  margin: 0 0.5em;
}

ul.simple {
  list-style: none;
  padding: 0;
}

input.number {
  width: 5em;
}

div.red-background {
  background-color: $old-glory-red-faded;
  padding: 0.25em 0;
}

div.table-row.gray {
  div.table-cell {
    color: $old-glory-blue;
    background-color: $background-blue-faded;
  }

  div.table-cell.red {
    color: $old-glory-red;
    background-color: $background-blue-faded;
  }

  div.table-cell.gray {
    color: gray;
    background-color: $background-blue-faded;
  }
}

a.unclickable {
  pointer-events: none;
  cursor: default;
}
