
body {
  font-family: Arial;
  color: $old-glory-blue;

  margin: 0 20%;
  padding: 0;

  background-color: $background-blue;
}

a {
  text-decoration: none;
  color: $birmingham-blue;
}

a:hover {
  color: darken($birmingham-blue, 20%);
}

a.red:hover {
  color: lighten($old-glory-red, 10%);
}

a.blue-faded:hover {
  color: lighten($old-glory-blue, 40%);
}

sup {
  font-size: 60%;
}

.clear {
  clear: both;
}

br.clear-left {
  clear: left;
  line-height: 0;
}

br.clear-right {
  clear: right;
  line-height: 0;
}

input.number {
  width: 5em;
}

input.big, button.big {
  @include big-button;
}

input.medium, button.medium {
  @include medium-button;
}

input.medium.light, button.medium.light {
  @include medium-button($birmingham-blue-light);
  color: $old-glory-blue;
}

input.cancel, button.cancel {
  @include medium-button($old-glory-red);
  min-width: 4em;
}

.center {
  text-align: center;
}

div.editor {
  background-color: lighten($background-blue, 3%);
}

small.header {
  margin: 0 0.5em;
}

ul.simple {
  list-style: none;
  padding: 0;
}
