a { text-decoration: none; }

input.big, button.big, a.big {
  @include big-button;
}

input.medium, button.medium, a.medium {
  @include medium-button;
}

input.medium.light, button.medium.light, a.medium.light {
  @include medium-button($birmingham-blue-light);
}

input.cancel, button.cancel, a.cancel {
  @include medium-button($old-glory-red);
  min-width: 4em;
}

button.otw {
  border: none;
  font-size: 1.5em;
}
