.flex {
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
}

.flex > * {
  -webkit-flex: 1 100%;
  flex: 1 100%;
}

div#main {
  background-color: darken($background-blue, 5%);
  @include shadow-box(4);
  @include border-radius(1em);
  margin: 0.5em 0 1em 0;
  border: thin solid $old-glory-blue-faded;

  header {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    border-bottom: thin solid $old-glory-blue-faded;

    // New Desktop Header
    div#desktop-header {
      position: relative;

      img {
        width: 100%;
        @include border-radius(1em 1em 0 0);
      }

      .logo {
        width: 100%;
        position: absolute; 
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.6);
        @include border-radius(1em 1em 0 0);

        img {
          max-width: 800px;
        }
      }

      .slogan {
        width: 100%;
        position: absolute; 
        bottom: 0.6em;
        left: 0;
        text-align: center;
        color: white;
        text-shadow: 3px 3px $old-glory-blue-faded;
        font-size: 120%;
        font-style: italic;
      }

      .header {
        min-height: 12em;

        img {
          display: block;
        }
      }
    }

    // Old Desktop Header
    div#main-header {
      div.logo {
        padding-top: 1em;

        img {
          width: 13em;
        }
      }

      width: 100%;
      margin: 0;
      text-align: center;

      div#header-left {
        float: left;
        width: 20%;
        max-width: 10em;
        padding: 0 1em;

        svg {
          width: 100%;
          max-width: 10em;
          height: auto;
          margin-top: 1em;
        }

        h2 {
          color: white;
          text-shadow: 3px 3px $old-glory-blue-faded;
        }
      }

      div#header-right {
        float: right;
        width: 75%;
        margin: 0;

        img {
          width: 100%;
          border-top-right-radius: 1em;
          border-bottom-left-radius: 1em;
        }

        h1 {
          position: absolute;
          top: 0;
          left: 38%;
          color: white;
          text-shadow: 3px 3px $old-glory-blue-faded;
          font-size: 2.5em;
          width: 39%;
          -webkit-text-stroke: 1px $old-glory-blue;
        }

        h4 {
          color: white;
          text-shadow: 2px 2px $old-glory-blue-faded;
          font-style: italic;
        }

        div#small-titles {
          h2, h3 {
            -webkit-text-stroke: 1px $old-glory-blue;
          }
        }
      }
    }
  }

  div#navigation {
    padding: 0.5em;
  }

  div#content {
    background-color: lighten($background-blue, 8%);
    padding-bottom: 0.5em;

    h2 {
      font-size: 1.75em;
    }
  }

  footer {
    padding: 1em 0;
    border-top: thin solid $old-glory-blue-faded;
    text-align: center;

    img {
      max-width: 5em;
    }

    .table {
      width: 100%;
      text-align: center;
    }

    .table-cell.footer-left, .table-cell.footer-right {
      width: 25%;
    }

    .table-cell.footer-center {
      vertical-align: middle;

      ul.links {
        list-style: none;
        padding: 0;

        li {
          margin: 0 0.5em;
          display: inline-block;
        }
      }

      div.copyright {
        margin-top: 1.25em;
      }
    }
  }
}
