// Main Menu
#navigation, #navigation-mobile {
  a {
    color: white;
    width: 11.4em;
  }

  ul {
    list-style: none;
    margin: 0 0.25em;
    padding: 0;

    .fa {
      margin-left: 0;
    }
  }

  ul li {
    @include blue-button(0.5em);
    float: left;
    list-style: none;
    text-align: center;
    margin: 0.2em 0;
    padding: 0;
    line-height: 2em;
    width: 11em;
    clear: both;
  }

  ul a.red li {
    @include blue-button(0.5em, $old-glory-red);
    padding: 0;
  }

  ul a.members li {
    @include blue-button(0.5em, lighten($old-glory-blue, 20%));
    padding: 0;
  }
}

ul#education {
  .catalog-button {
    @include blue-button(0.5em, lighten($old-glory-blue, 20%));
    width: 15em;
    margin-top: 0.5em;
    margin-bottom: 2em;
  }

  li.active {
    background-color: $old-glory-red;
  }
  
  li.active:hover {
    background-color: darken($old-glory-red, 10%);
  }
  
  li.active:active {
    background-color: darken($old-glory-red, 20%);
  }
}
