// Main Menu
#navigation {
  a {
    color: $white;
    width: 11.4em;
  }

  ul {
    list-style: none;
    margin: 0 0.25em;
    padding: 0;

    .far, .fas, .fal, .fad, .fab, .fak, svg.svg-inline--fa {
      display: inline-block;
      margin-right: 0.5em;
      overflow: visible;
    }
  }

  ul li {
    @include blue-button(0.5em);
    float: left;
    list-style: none;
    text-align: center;
    margin: 0.2em 0;
    padding: 0;
    line-height: 2em;
    width: 11em;
    clear: both;
  }

  ul a.red li {
    @include blue-button(0.5em, $old-glory-red);
    padding: 0;
  }

  ul a.members li {
    @include blue-button(0.5em, $old-glory-blue-lighten-20);
    padding: 0;
  }

  ul a.admin li {
    @include blue-button(0.5em, purple);
    padding: 0;
  }
}

ul#education {
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  li {
    @include blue-button;
    width: 10em;
    display: inline-block;
    margin: 1em;
  }

  a.catalog-button {
    display: inline-block;
    width: 16em;
    height: 2.5em;
  }

  li.catalog-button {
    @include blue-button(0.5em, $old-glory-blue-lighten-20);
    width: 15em;
    margin: 0.5em auto 2em auto;
    display: table;

    div {
      display: table-cell;
      vertical-align: middle;
    }
  }

  li.active {
    background-color: $old-glory-red;
  }
  
  li.active:hover {
    background-color: $old-glory-red-darken-10;
  }
  
  li.active:active {
    background-color: $old-glory-red-darken-20;
  }
}

ul#admin-menu {
  width: 100%;
  background-color: $old-glory-blue-lighten-68;
  border-bottom: thin solid $old-glory-blue-lighten-35;
  padding: 0;
  list-style: none;
  margin: 0;

  li {
    width: 10em;
    display: inline-block;
    padding: 0.5em;
  }

  a li.submenu {
    display: none;
  }

  li:hover {
    background-color: $old-glory-blue-lighten-65;
  }

  a {
    color: $old-glory-blue-lighten-20;
  }

  a:hover {
    color: $old-glory-blue-lighten-40;
  }

  a.red {
    color: $old-glory-red-lighten-10;
  }

  a.red:hover {
    color: $old-glory-red;
  }
}

#nested-navigation {
  text-align: center;
  background-color: $old-glory-blue-lighten-68;
  border-bottom: thin solid $old-glory-blue-lighten-35;
}

#nested-navigation a div.arrow {
  float: right;
}

#nested-navigation ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 99;
  display: flex;
  justify-content: space-evenly;
}

  #nested-navigation ul a {
    display: block;
    text-decoration: none;
    line-height: 1.5em;
    padding: 0 1em;
    color: $birmingham-blue-dark;
    @include border-radius(0.5em);
  }

  #nested-navigation ul a.admin {
    color: $purple;
  }

  #nested-navigation ul li {
    position: relative;
    display: inline-block;
    max-width: 20%; // Maximum of 5 menus visible at once
    margin: 0;
    padding: 0;
    @include border-radius(0.25em 0.25em 0 0);
  }

    #nested-navigation ul li.menu a:hover {
      text-decoration: none;
    }

    #nested-navigation ul li.menu.red a {
      color: $old-glory-red;
    }

    #nested-navigation ul li:hover {
      background: $old-glory-blue-lighten-65;
    }

    #nested-navigation ul li:hover > ul {
      display: block;
    }

  #nested-navigation ul ul {
    display: none;
    position: absolute;
    list-style: none;
    text-align: left;
    top: 100%;
    left: 0;
    background: none;
    padding: 0;
    padding-top: 5%;
    color: $birmingham-blue-dark;
    background: $old-glory-blue-lighten-65;
    @include border-radius(0 0 0.5em 0.5em);
  }

    #nested-navigation ul ul a {
      display: inline-block;
      line-height: 1.2em;
      padding: 0.7em 1em;
      display: block;
      width: 100%;
      color: $birmingham-blue-dark;
    }

    #nested-navigation ul ul > a {
      width: inherit;
    }

    #nested-navigation ul ul a:hover {
      background: $old-glory-blue-lighten-55;
    }

    #nested-navigation ul ul li {
      float: none;
      min-width: 10em;
      margin: 0;
      @include border-radius(0.5em);
    }

    #nested-navigation ul ul li:hover {
      background: $old-glory-blue-lighten-55;
    }

    #nested-navigation ul ul li.menu {
      padding-right: 13%;
      @include border-radius(0.5em 0 0 0.5em);
    }

    #nested-navigation ul ul li.sub-menu ul {
      padding-top: 0;
    }

    #nested-navigation ul ul ul {
      top: 0;
      left: 95%;
      padding: 0;
      background: $old-glory-blue-lighten-60;
      @include border-radius(0.5em 0.5em 0.5em 0.5em);
    }

    #nested-navigation ul ul ul li {
      min-width: 10em;
      color: $birmingham-blue-darker;
    }

    #nested-navigation ul ul ul a:hover {
      background: $old-glory-blue-lighten-50;
    }

    #nested-navigation ul ul ul li:hover {
      background: $old-glory-blue-lighten-50;
    }

div#show-sidenav {
  height: 2em;
  line-height: 2em;
  overflow: hidden;
  font-size: larger;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: thin solid $old-glory-blue-faded;

  i {
    vertical-align: middle;
  }

  div.nav {
    display: inline;
    vertical-align: middle;
  }
}

div#sidenav, div.sub-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  background-color: $background-blue;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: 0.5s;
  border-right: thin solid $old-glory-blue-faded;
  text-align: center;
  padding-top: 2em;

  a.close-sidenav {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    font-size: 1.15em;
    text-align: right;
    padding-right: 0.25em;
  }

  div.sidenav-spacer {
    height: 5em;
  }

  a {
    width: 75%;
    margin: 0 auto;
    display: block;
  }

  a li {
    @include blue-button(0.5em);
    @include shadow-box(0.4);
    width: 90%;
    height: 1.5em;
    line-height: 1.5em;
  }

  a.red li {
    @include blue-button(0.5em, $old-glory-red);
  }

  a.members li {
    @include blue-button(0.5em, $old-glory-blue-lighten-20);
  }

  a.admin li {
    @include blue-button(0.5em, purple);
  }

  a li {
    margin: 0.5em auto !important;
  }
}

div.sub-menu {
  z-index: 9999;
}

li.nav-with-icon {
  display: table;
  overflow: hidden;

  div.nav-icon-contents {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }
}
