@media all and (min-width: 1251px) and (max-width: 1400px) {
  body {
    margin: 0 15%;
  }
}

@media all and (min-width: 1251px) {
  div#navigation {
    max-width: 11.4em;
    text-align: left;
    -webkit-flex: 1 auto;
    flex: 1 auto;
    -webkit-order: 1;
    order: 1;
  }

  div#content {
    -webkit-flex: 5 0px;
    flex: 5 0px;
    -webkit-order: 2;
    order: 2;

    div#profile .profile-left {
      max-width: 55%;
    }

    div#profile .profile-right {
      max-width: 45%;
    }
  }

  footer {
    -webkit-order: 3;
    order: 3;
  }

  div#sidenav, div#show-sidenav {
    display: none;
  }
}

@media all and (min-width: 751px) and (max-width: 1250px) {
  body {
    min-width: 40em;
    margin: 0 7%;
  }

  iframe {
    max-width: 39.75em;
  }

  div#navigation, div#nested-navigation {
    display: none;
  }

  table#bridge {
    font-size: 90%;

    .flag svg {
      max-width: 8em;
    }

    .department {
      width: 24%;
    }
  }
  
  footer {
  	font-size: 85%;
  }
}

@media all and (min-width: 751px) and (max-width: 1050px) {
  body {
    margin: 0 7%;
  }
}

@media all and (min-width: 751px) {
  div#user-ranks-mobile, img.mobile, a.mobile, br.mobile {
    display: none;
  }

  div.events-table-mobile {
    display: none;
  }

  div#bridge.table {
    .table-cell.dept-head-mobile {
      display: none;
    }
  }

  table#bilge {
    table-layout: fixed;
  }

  br.mobile {
    display: none;
  }

  a.control {
    display: block;

    & > i {
      float: left;
    }
  }

  select#promo_code_event_ids {
    height: 10em;
  }
}

@media screen and (min-width: 751px) {
  div#print-header, div#print-footer {
    display: none;
  }
}
