@media screen and (max-width: 750px) {
  div#print-footer {
    display: none;
  }
}

@media all and (max-width: 750px) {
  body {
    margin: 0;
    max-width: 100vw;
    min-width: 100vw;
    overflow-x: hidden;

    * {
      overflow-x: hidden;
    }
  }

  span.icon, i.fas, i.far, i.fal, i.fad, i.fab, .fak, svg.svg-inline--fa {
    vertical-align: middle;
    height: 1.25em;
    line-height: 1.25em;
    overflow: visible;
  }

  div.next-meeting div.icon svg.svg-inline--fa {
    height: 1em;
    line-height: 1em;
  }

  div.notice {
    display: block;

    div.icon {
      display: block;
    }
  }

  div#editor-buttons, input[type=submit].big {
    overflow-x: visible;
  }

  .desktop {
    display: none;
  }

  div#desktop-header, div#navigation, div#nested-navigation {
    display: none;
  }

  div#print-header {
    img {
      max-width: 95vw;
      margin: 0.5em auto;
    }
  }

  div#main {
    @include shadow-box(0);
    @include border-radius(0);
    margin: 0;
    border: none;
    max-width: 100vw;

    div#content {
      max-width: 100vw;

      div#content-main {
        margin: 0.5em 0;
        padding: 0 1em;
        flex-flow: row wrap;

        div#preview {
          display: block;
        }

        div.markdown {
          width: 100%;
        }

        div#activity-feed {
          width: 100%;
          border: 0;
          margin-top: 1em;
          margin-left: 0;
          padding: 0.25em 0;
          @include border-radius(0.5em);
        }
      }
    }
  }

  input {
    font-size: 1em;
    margin: 0.5em auto !important;
    min-width: 25vw !important;
    max-width: 75vw !important;
    width: 60vw !important;
  }

  select {
    font-size: 1em;
    margin: 0.5em auto !important;
    max-width: 85vw !important;
  }

  input.number {
    width: 5em !important;
  }

  input.big, button.big {
    margin: 0.5em auto !important;
    min-width: 25vw !important;
    max-width: 65vw !important;
    width: 65vw !important;
  }

  div#login {
    max-width: 400px;

    input {
      max-width: 15em;
    }

    div.left, div.right {
      float: none;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }

  div.center {
    padding: 0 0.25em;
  }

  div#new {
    div.left, div.right {
      float: none;
      width: 90%;
      margin: 0 auto;
      text-align: center;

      ul {
        padding: 0;
      }
    }
  }

  div.events-table {
    display: none;
  }

  div#bridge {
    font-size: 90%;

    div.bridge-officer-name {
      display: flex;
      flex-direction: column;
    }

    div.bridge-officer-name,
    div.bridge-department-info {
      div.flag, div.department {
        flex-basis: 50%;
      }
    }

    div.bridge-department-info {
      div.committees {
        flex-basis: 100%;
      }
    }
  }

  div#bilge {
    width: 100%;
    font-size: 0.7em;

    * {
      overflow-x: visible;
    }
  }

  table#users {
    font-size: 0.65em;
  }

  iframe#calendar {
    width: 100%;
    height: 75vh;
  }

  div#profile {
    width: 100%;

    div.profile-left, div.profile-right {
      clear: both;
    }

    div.profile-photo img {
      width: 85%;
    }
  }

  div#user-ranks-mobile {
    .member-container {
      width: 100%;
    }

    .member {
      margin: 1em auto;
    }

    .rank, .grade, .name {
      text-align: center;
    }

    .rank, .grade {
      margin: 0 1em;
      width: 20%;
    }

    .name {
      width: 60%
    }
  }
  
  div#permissions {
    width: 95%;
  }
  
  #files.table.markdown {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .table-row {
      width: 100%;
      display: block;

      .table-cell {
        width: 100%;
        display: block;
      }
    }
  }

  div#application {
    div.left, div.right {
      float: none;
      width: 100%;
      margin: 0 auto;
      text-align: center;

      div.left, div.right {
        float: none;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        input[type=checkbox] {
          width: 1em !important;
        }
      }
    }
  }

  div#float-plan {
    div.field div.table-cell {
      max-width: 4em;
    }

    textarea {
      max-width: 12em;
    }
  }

  div.table.locations div.table-cell.picture {
    display: none;
  }

  div.table.locations img.mobile {
    display: block;
    width: 5em;
    margin: 0 auto;
  }

  div#payment-box {
    @include border-radius(0);
    @include shadow-box(0);
    border: none;
    border-top: thin solid $old-glory-blue;
    border-bottom: thin solid $old-glory-blue;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;

    div#dropin-container {
      width: 95%;
    }

    input#receipt-email {
      max-width: 95%;
      height: 3em;
      margin-top: 0.5em;
    }
  }

  div#receipts {
    font-size: 70%;
  }

  div#otw-progress {
    font-size: 80%;
  }

  div.events-unified-table {
    width: 98%;
    margin: 0;

    div.event-unified {
      width: 100%;
      padding: 0;
    }

    div.event-column-left {
      width: auto !important;
      margin: 0 !important;

      div {
        text-align: center !important;
      }

      div.event-display-title {
        width: 100%;
      }

      div.event-main-details {
        width: 100%;
      }

      div.event-location {
        width: 98%; /* Not sure why this overflows the page at 100% */
        margin-top: 2em;
        min-height: auto !important;
      }

      div.event-costs {
        width: 100%;
        margin: 1em 0;
      }

      div.event-flags > div {
        text-indent: 0;
        padding-left: 0;
      }

      div.detail {
        margin: 0.5em 0;
      }
    }

    div.event-column-right {
      width: auto !important;
    }

    div.event-top-block {
      max-height: 30em !important;
    }

    div.event-location {
      margin-bottom: 1em;
    }

    div.event-costs {
      text-align: center !important;
      margin: 1em auto;
    }

    div.event-actions {
      text-align: center !important;
    }
  }
}

@media all and (max-width: 400px) {
  div.admin-header {
    font-size: 80%;
  }

  div.admin-header-icon {
    font-size: 0.85em;
    max-width: 0.85em;
  }
}
