@media print {
  .print {
    display: unset;
  }

  .no-print {
    display: none !important;
  }

  body, body div#main, body div#main div#content {
    background-color: $white;
  }

  body {
    width: 100%;
    margin: 0;
  }

  div#navigation, ul#admin-menu, ul#education, div#main-footer, div#payment-box, div#sidenav, div#show-sidenav {
    display: none;
  }

  div#flashes {
    display: none;
  }

  div#user-ranks {
    .member {
      margin: 1.5em 1.25em;
    }

    .rank, .grade {
      width: 1.5em;
    }

    .name {
      width: 12em;
    }
  }

  div.table-row.gray {
    div.table-cell {
      background-color: $background-blue-extra-faded;
    }
  }
}
