- @album.photos.each do |photo|
  a data-fancybox="album_#{@album.id}" href=(BPS::S3.new(:photos).link(photo.photo_file.path))
    = image_tag BPS::S3.new(:photos).link(photo.photo_file.path(:thumb))
