@mixin blue-button($corner: 0.5em, $button-color: $birmingham-blue, $step: 10%) {
  @include border-radius($corner);
  @include shadow-box(1);
  background-color: $button-color;
  color: white;
  padding: 0.2em 0.4em;

  &:hover {
    background-color: darken($button-color, $step);
    @include shadow-box(0.75);
  }

  &:active {
    background-color: darken($button-color, $step*2);
    @include shadow-box(0.5);
  }
}
