@mixin blue-button($corner: 0.5em, $button-color: $birmingham-blue, $step: 10%) {
  @include border-radius($corner);
  @include shadow-box(1);
  background-color: $button-color;
  color: white;
  padding: 0.2em 0.4em;

  &:hover {
    background-color: darken($button-color, $step);
    @include shadow-box(0.75);
  }

  &:active {
    background-color: darken($button-color, $step*2);
    @include shadow-box(0.5);
  }
}

@mixin big-button($button-color: $birmingham-blue) {
  @include blue-button;
  @include shadow-box;
  min-width: 12em;
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 1em;
  padding: 0.25em 1em;
}

@mixin medium-button($button-color: $birmingham-blue) {
  @include blue-button(0.5em, $button-color);
  @include shadow-box(0.5);
  min-width: 6em;
  max-width: 10em;
  font-size: 0.9em;
  line-height: 1.25em;
  margin: 0.5em;
}
