// Variables
$birmingham-blue: #1086FF;
$birmingham-blue-light: #99CEFF;
$old-glory-blue: #041E42;
$old-glory-red: #BF0D3E;
$background-blue: #C5D1E1;
$background-blue-faded: #CDD7E5;
$background-blue-extra-faded: #EEF2F6;
$gold: #D4AF37;
$pending-green: #66BB66;

$old-glory-blue-light: lighten($old-glory-blue, 20%);
$old-glory-blue-faded: rgba($old-glory-blue, 0.3);
$old-glory-red-faded: lighten($old-glory-red, 50%);

// Content Colors
.birmingham-blue {
  color: $birmingham-blue;
}

.blue {
  color: $old-glory-blue-light;
}

.red {
  color: $old-glory-red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.gray {
  color: gray;
}

.gold {
  color: $gold;
}

.pending {
  color: $pending-green;
}

.admin {
  color: purple;
}

// Background Colors
.gray-background {
  background-color: lightgray; 
}

.highlight {
  background-color: lighten(green, 60%) !important;
}
