$switch-width: 5.5em;
$switch-height: 2em;
$slider-size: 1.5em;
$slider-margin: 0.25em;
$slider-move: $switch-width - ($slider-size + 0.5em);

.switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;
  margin: 0.25em $slider-margin;

  div.description {
    width: 85%;
    height: 50%;
    color: $white;
    font-size: 75%;
    font-weight: bold;
    text-align: right;
    margin: 0.75em 0.5em;
  }
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $birmingham-blue;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: $slider-size;
  width: $slider-size;
  left: $slider-margin;
  bottom: $slider-margin;
  background-color: $white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $old-glory-red;

  div.description {
    text-align: left;
  }
}

input:checked + .slider:before {
  -webkit-transform: translateX($slider-move);
  -ms-transform: translateX($slider-move);
  transform: translateX($slider-move);
}

// Rounded sliders

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// Unchecked Colors

.slider.darkblue-red {
  background-color: $old-glory-blue-lighten-10;
}

.slider.darkblue-lightblue {
  background-color: $old-glory-blue-lighten-10;
}

.slider.lightblue-red {
  background-color: $birmingham-blue;
}

.slider.lightblue-darkblue {
  background-color: $birmingham-blue;
}

.slider.red-lightblue {
  background-color: $old-glory-red;
}

.slider.red-darkblue {
  background-color: $old-glory-red;
}

// Checked Colors

input:checked + .slider.darkblue-red {
  background-color: $old-glory-red;
}

input:checked + .slider.darkblue-lightblue {
  background-color: $birmingham-blue;
}

input:checked + .slider.lightblue-red {
  background-color: $old-glory-red;
}

input:checked + .slider.lightblue-darkblue {
  background-color: $old-glory-blue-lighten-10;
}

input:checked + .slider.red-lightblue {
  background-color: $birmingham-blue;
}

input:checked + .slider.red-darkblue {
  background-color: $old-glory-blue-lighten-10;
}

// Unchecked slider text

.slider div.description.no:after {
  content: "No";
}

.slider div.description.ignore:after {
  content: "Ignore";
}

.slider div.description.deny:after {
  content: "Deny";
}

.slider div.description.create:after {
  content: "Create";
}

.slider div.description.upload:after {
  content: "Upload";
}

.slider div.description.regular:after {
  content: "Regular";
}

.slider div.description.committee:after {
  content: "General";
}

.slider div.description.all:after {
  content: "All";
}

// Checked slider text

input:checked + .slider div.description.yes:after {
  content: "Yes";
}

input:checked + .slider div.description.show:after {
  content: "Show";
}

input:checked + .slider div.description.allow:after {
  content: "Allow";
}

input:checked + .slider div.description.remove:after {
  content: "Remove";
}

input:checked + .slider div.description.committee.chair:after {
  content: "Chair";
}

input:checked + .slider div.description.committee.excom:after {
  content: "ExCom";
}

input:checked + .slider div.description.all-day:after {
  content: "All-Day";
}

input:checked + .slider div.description.lock-missing:after {
  content: "Lock";
}

input:checked + .slider div.description.eligible:after {
  content: "Eligible";
}
