div.table {
  display: table;
  width: 100%;
  text-align: left;
}

div.table-body {
  display: table-row-group;
}

div.table-header {
  font-weight: bold;
}

div.table-row {
  display: table-row;
}

div.table-cell {
  display: table-cell;
}

.table-cell.spacer {
  height: 2em;
}
