div.table {
  display: table;
  width: 100%;
  text-align: left;
}

div.table-row {
  display: table-row;
  width: 100%;
}

div.table-row.header {
  font-weight: bold;
}

div.table-cell.left-header {
  font-weight: bold;
  text-align: right;
  padding-right: 0.5em;
  width: 50%;
}

div.table-cell {
  display: table-cell;
  padding: 0.25em;
}

.table-cell.spacer {
  height: 2em;
}

.table-cell.half {
  width: 50%;
}

.table-cell.left {
  text-align: right;
  padding-right: 1em;
  height: 1.5em;
  vertical-align: middle;
}

.table-cell.no-pad { padding: 0; }
