div.table {
  display: table;
  width: 100%;
  text-align: left;
}

div.table-row {
  display: table-row;
  width: 100%;
}

div.table-row.header {
  font-weight: bold;
}

div.table-cell {
  display: table-cell;
  padding: 0.25em;
}

.table-cell.spacer {
  height: 2em;
}

.table-cell.half {
  width: 50%;
}

.table-cell.left {
  text-align: right;
  padding-right: 1em;
  height: 1.5em;
  vertical-align: middle;
}

div.table.striped {
  div.table-row:nth-child(odd) {
    background-color: lighten($background-blue, 6%);
  }

  div.table-row:nth-child(even) {
    background-color: $background-blue;
  }

  div.table-row.header {
    background-color: inherit;
  }
}

div.table.double-striped {
  div.table-row:nth-child(n),
  div.table-row:nth-child(2n) {
    background-color: lighten($background-blue, 6%);
  }

  div.table-row:nth-child(3n),
  div.table-row:nth-child(4n) {
    background-color: $background-blue;
  }

  div.table-row.header {
    background-color: inherit;
  }
}
