= form_tag public_register_path, method: :put, remote: true, id: "public-register-#{event_id}#{defined?(mobile) ? '-mobile' : ''}", class: 'modal-form'
  = hidden_field_tag :event_id, event_id
  = email_field_tag :email, '', required: true, placeholder: "Email address"
  = submit_tag "Register"
