div#payment-box {
  @include border_radius;
  @include shadow_box(2, 0);
  background-color: lighten($background_blue, 5%);
  width: 90%;
  max-width: 35em;
  margin: 1em auto;
  padding: 1.5em;
  border: thin solid $old-glory-blue;
}

div#dropin-container {
  // max-width: 30em;
  margin: 1em auto;
}

ul.policies {
  display: inline-block;
  padding: 0;

  li {
    display: inline-block;
    padding: 0;
    margin: 0 1.5em;
  }
}

input#receipt-email {
  width: 25em;
  font-size: 1em;
  height: 2em;
  text-align: center;
}

div#payment-description {
  color: $old-glory-red;
  font-size: 1.25em;

  div.amount, div.subject, div.date {
    margin-top: 0.5em;
  }

  div.amount, div.subject {
    font-weight: bold;
  }

  span.type {
    font-size: 0.85em;
  }

  div.amount {
    font-size: 1.3em;
  }

  div.desc {
    margin: 0.25em 0;
  }
}

button#pay-button {
  @include big-button;
  width: 35%;
}

div.braintree-heading {
  font-weight: bold;
}

div.braintree-method__check-container::before {
  display: none;
}

div.terms {
  padding: 0 0.5em;
  text-align: left;
}
