div.field {
  margin: 1em 0;
}

#login {
  width: 75%;
  margin: 0 auto;
  padding-top: 2em;
  font-size: 1.25em;

  div {
    min-height: 2em;
  }

  .profile-section {
    width: 100%;
    height: auto;
    padding: 0.5em;
  }

  .profile-photo {
    width: 100%;
    height: auto;

    .center {
      margin-top: 0.5em;
    }
  }

  a#show-change-password {
    color: $old-glory-red;
  }

  div#change-password {
    background-color: lighten($old-glory-red, 50%);
    border-top: thin solid $old-glory-red;
    border-bottom: thin solid $old-glory-red;
    display: none;
  }

  div.confirm-password {
    margin-top: 0.5em;
  }

  .left {
    width: 49%;
    font-weight: bold;
    float: left;
    text-align: right;
  }

  .right {
    width: 49%;
    float: right;
    text-align: left;
  }

  .center {
    width: 100%;
    float: left;
  }

  .red {
    font-size: 80%;
  }

  input {
    width: 20em;
    height: 2.5em;
  }

  input[type=submit] {
    width: 12em;
  }
}

div#error_explanation {
  color: $old-glory-red;

  h2 {
    font-size: 90%;
  }

  ul {
    font-size: 80%;
    list-style: none;
    padding: 0;
  }
}

div.field_with_errors input {
  box-shadow: 0 0 5px $old-glory-red;
}
