div.field {
  margin: 1em 0;
}

div#login {
  width: 85%;
  margin: 0 auto;
  padding-top: 2em;
  font-size: 1.25em;

  div {
    min-height: 2em;
  }

  div.profile-section {
    width: 100%;
    height: auto;
    padding: 0.5em;
  }

  div.top-border {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin solid gray;
  }

  div.profile-photo {
    width: 100%;
    height: auto;

    div.center {
      margin-top: 0.5em;
    }
  }

  div#change-password {
    border-top: thin solid $black;
    border-bottom: thin solid $black;
    display: none;
  }

  div.confirm-password {
    margin-top: 0.5em;

    div.center {
      margin-top: 1em;
    }
  }

  div.left {
    width: 49%;
    font-weight: bold;
    float: left;
    text-align: right;
  }

  div.right {
    width: 49%;
    float: right;
    text-align: left;
  }

  div.center {
    width: 100%;
    float: left;
  }

  div.red {
    font-size: 80%;
  }

  div.instructions {
    margin: 0.25em auto;
    font-size: 80%;
  }

  input {
    width: 20em;
    height: 2.5em;
  }

  input[type=submit] {
    width: 12em;
  }
}

div#error_explanation {

  h2 {
    font-size: 90%;
  }

  ul {
    font-size: 80%;
    list-style: none;
    padding: 0;
  }
}
