// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#new-event {
  width: 95%;

  &> div {
    border-bottom: thin solid gray;
  }

  ul {
    font-size: 80%;
    list-style: none;
    padding: 0;
  }

  textarea.location {
    width: 16em;
  }

  textarea.bulletted {
    background-color: lighten($old-glory-blue, 80%);
  }

  small {
    display: block;
    font-style: italic;
  }

  img, iframe {
    margin-top: 1em;
  }
}

input.map-link {
  width: 20em;
}

div#registrations {
  width: 60%;
  margin: 0 auto;

  div.table-cell {
    padding: 1em 0;
  }
}
