// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#new-event {
  width: 95%;

  ul {
    font-size: 80%;
    list-style: none;
    padding: 0;
  }

  textarea.location {
    width: 16em;
  }

  textarea.bulletted {
    background-color: lighten($old-glory-blue, 80%);
  }

  small {
    display: block;
    font-style: italic;
  }

  img, iframe {
    margin-top: 1em;
  }
}

input.map-link {
  width: 20em;
}

div#registrations {
  width: 60%;
  margin: 0 auto;

  div.table-cell {
    padding: 1em 0;
  }
}

input.medium.control, button.medium.control, a.medium.control {
  max-width: 12em;
  width: 12em;
  text-align: left;
}

input.medium.red, button.medium.red, a.medium.red {
  background-color: $old-glory-red;
}

input.medium.red:hover, button.medium.red:hover, a.medium.red:hover {
  background-color: darken($old-glory-red, 10%);
}

input.medium.green, button.medium.green, a.medium.green {
  background-color: green;
}

input.medium.green:hover, button.medium.green:hover, a.medium.green:hover {
  background-color: darken(green, 10%);
}

input.medium.blue-faded, button.medium.blue-faded, a.medium.blue-faded {
  background-color: lighten($old-glory-blue, 20%);
}

input.medium.blue-faded:hover, button.medium.blue-faded:hover, a.medium.blue-faded:hover {
  background-color: lighten($old-glory-blue, 10%);
}
