div#files {
  width: 75%;
  margin: 0 auto;
  text-align: center;

  div.table-header {
    width: 45%;
  }

  div.table-cell {
    vertical-align: middle;
    padding: 0.5em 0;
  }

  img {
    max-width: 150px;
  }
}

div#files.headers {
  width: 75%;

  div.table-row {
    height: 6em;

    div.table-cell {
      vertical-align: middle;
    }

    div.table-cell.left {
      text-align: center;
      width: 75%;
    }

    div.table-cell.right {
      width: 25%;
    }
  }

  img {
    max-width: 200px;
  }
}
