div#files {
  width: 75%;
  margin: 0 auto;
  text-align: center;

  div.table-header {
    width: 45%;
  }
}

div#files.headers {
  width: 35%;

  div.table-row {
    height: 6em;

    div.table-cell {
      vertical-align: middle;
    }

    div.table-cell.left {
      width: 75%;
    }

    div.table-cell.right {
      width: 25%;
    }
  }
}
