// Place all the styles related to the file controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table#files {
  width: 75%;
  margin: 0 auto;
  text-align: center;

  .table-header {
    width: 45%;
  }
}

.table#files.headers {
  width: 35%;

  .table-row {
    height: 6em;

    .table-cell {
      vertical-align: middle;
    }

    .table-cell.left {
      width: 75%;
    }

    .table-cell.right {
      width: 25%;
    }
  }
}
