div.flags.table {
  div.officer {
    width: 15%;
    padding: 0 0.5em;
    vertical-align: middle;
  }

  div.table-cell {
    text-align: center;
    height: 8em;
    vertical-align: middle;
  }

  .table div.table-cell { height: fit-content; }
}

.signals {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;

  img { width: 20px; }

  .word {
    display: flex;
    gap: 5px;
  }

  &.double {
    img { width: 40px; }
    .word { gap: 7px; }
  }

  &.triple {
    img { width: 60px; }
    .word { gap: 9px; }
  }

  &.half   {
    img { width: 10px; }
    .word { gap: 3px; }
  }

  &.tall {
    img {
      width: auto;
      height: 50px;
    }
    .word { gap: 10px; }
  }

  &.vertical {
    flex-direction: column;
    .word { flex-direction: column; }
  }

  &.center { align-items: center; }
}
