// Place all the styles related to the members controller here.

ul#admin-menu {
  width: 100%;
  background-color: lighten($old-glory-blue, 68%);
  border-bottom: thin solid lighten($old-glory-blue, 35%);
  padding: 0.25em 0;
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    margin: 0 0.5em;
  }

  a {
    color: lighten($old-glory-blue, 20%);
  }

  a:hover {
    color: lighten($old-glory-blue, 40%);;
  }
}

.red-border {
  margin: 1em 0;
  border-top: thin solid red;
  border-bottom: thin solid red;
}

form.edit_static_page textarea {
  background-color: lighten($background-blue, 12%);
  border: 0;
  margin: 1em auto;
  padding: 0.5em;
  font-family: Courier;
  width: 95%;
  min-height: 50%;
}

div#markdown-help {
  display: none;
}

div#markdown-details {
  font-size: 90%;

  ul {
    list-style: none;
    padding: 0;
  }
}

div#user-ranks {
  margin: 0 auto;
  text-align: center;

  .member {
    float: left;
    margin: 1.5em 4em;
  }

  .rank, .grade {
    float: left;
    width: 2em;
    min-height: 1em;
  }

  .rank {
    text-align: right;
  }

  .grade {
    text-align: left;
  }

  .name {
    float: left;
    width: 15em;
  }
}

div.table.auto-permissions {
  margin: 2em;

  .table-row {
    height: 1.5em;
  }

  .table-row .table-cell {
    margin: 1em 0;
  }

  .table-cell.left {
    width: 35%;
  }

  .table-cell.right {
    width: 65%;
  }
}

div#application {
  width: 95%;
  margin: 0 auto;

  a {
    display: inline-block;
    margin-top: 0.5em;
  }

  .applicant-section-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
  }

  ul {
    font-size: 80%;
    list-style: none;
    padding: 0;
  }

  label {
    font-weight: bold;
  }

  div.left {
    width: 48%;
    float: left;
    text-align: right;
    margin-bottom: 1em;
  }

  div.right {
    width: 49%;
    float: right;
    text-align: left;
    margin-bottom: 1em;
  }

    input {
      width: 60%;
      font-size: 1em;
      margin-right: 0.5em;
    }

    input.number {
      width: 25%;
    }

    input.date {
      width: 40%;
    }

    small {
      margin-left: 0.25em;
    }

  div.left, div.right {
    div.left {
      width: 39%;
      margin-right: 1%;
    }

    div.right {
      width: 60%;
    }

    input {
      width: 80%;
    }
  }

  div.center {
    width: 100%;
    text-align: center;
  }

  br.clear {
    clear: both;
  }
}
