// Place all the styles related to the members controller here.

.red-border {
  margin: 1em 0;
  border-top: thin solid red;
  border-bottom: thin solid red;
}

form.edit_static_page textarea {
  background-color: lighten($background-blue, 12%);
  border: 0;
  margin: 1em auto;
  padding: 0.5em;
  font-family: Courier;
  width: 95%;
  min-height: 50%;
}

div#markdown-help {
  display: none;
}

div#markdown-details {
  font-size: 90%;

  ul {
    list-style: none;
    padding: 0;
  }
}

div#user-ranks {
  margin: 0 auto;
  text-align: center;

  .member {
    margin: 1em auto;
  }

  .rank, .grade {
    float: left;
    width: 25%;
    min-height: 1em;
  }

  .rank {
    text-align: right;
  }

  .grade {
    text-align: left;
  }

  .name {
    float: left;
    width: 50%;
    min-width: 5em;
    font-weight: bold;
  }
}

div.table.auto-permissions {
  width: 100%;

  .table-row {
    height: 1.5em;
  }

  .table-row .table-cell {
    margin: 1em 0;
  }

  .table-cell.left {
    width: 50%;
    text-align: right;
    padding-right: 0.5em;
    font-weight: bold;
  }

  .table-cell.right {
    width: 50%;
    padding-left: 0.5em;
  }
}

iframe#roster {
  width: 100%;
  height: 100%;
  min-height: 50vw;
}
