@import "themes/colors/_light";

div#placecards-columns {
  width: 40%;
  margin: 0 auto;
}

body.placecards {
  // Override general website styling
  background-color: white;

  color: $birmingham-blue;
  font-family: "Apple Chancery";
  font-size: 1.25em;
  margin: 0;
  margin-left: 0.0625in;

  & div.page:not(:first-child) { page-break-before: always; }

  // Avery 5011 Tent Cards (2x6 @ nominal 1-7/16" x 3-3/4")
  div.page {
    width: 7.75in;
    height: 8.6875in;

    padding-top: 1.25in;
    column-gap: 0.25in;
    row-gap: 0.125in;

    display: grid;
    grid-template-columns: 1fr 1fr;

    & > div {
      max-height: 2.875in;
      margin: 0 0.1875in;

      & > div.back {
        height: 1.3125in;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 0.75in;
          transform: rotate(180deg);
          margin: 0 0.25in;
        }
      }

      & > div.name {
        margin-top: 0.1875in;
        height: 1.125in;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        border-style: groove;
        border-width: 0.0625in;
        border-color: $birmingham-blue;

        background-color: rgba(16, 134, 255, 0.03);

        &.long { font-size: 0.75em; }
      }
    }
  }

  svg {
    width: 100%;

    // Override general website styling
    margin: 0 !important;
    margin-top: 5% !important;
    font-size: 24px !important;

    &.fa-turkey { color: $orange; }
    &.fa-fish { color: $birmingham-blue-dark; }
    &.fa-carrot { color: $light-green; }
    &.fa-circle-question { color: $purple; }
  }
}
