div#bilge {
  width: 90%;
  margin: 0 auto;
  text-align: center;

  div.table-row {
    height: 3em;
  }

  div.table-cell {
    max-width: 3em;
    vertical-align: middle;
  }

  a {
    @include blue-button(0.25em);
    font-size: 0.9em;
  }

  a.members {
    background-color: lighten($old-glory-blue, 20%);
  }

  div.table-cell.excom a {
    background-color: lighten($old-glory-blue, 10%);
  }
}

input#new-announcement-title {
  font-size: 1.1em;
  width: 20em;
}

div#announcements {
  width: 90%;
  margin: 0 auto;

  div.table-cell {
    height: 3em;
    vertical-align: middle;
    padding: 0 0.5em;
  }

  a.download {
    @include blue-button(0.25em);
  }
}

div#bridge {
  width: 100%;
  text-align: left;

  div.bridge-department {
    width: 100%;
    margin-bottom: 4em;
  }

  div.bridge-officer-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: bold;
    margin-bottom: 1em;

    div {
      flex-basis: 40%;
    }
  }

  div.bridge-department-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    div.flag {
      flex-basis: 20%;
    }

    div.department {
      flex-basis: 30%;
    }

    div.committees {
      flex-basis: 45%;
    }
  }

  hr {
    margin-top: 2em;
  }

  div.flag {
    text-align: center;
  }

  div.department {
    text-align: center;

    img {
      width: 8em;
      @include border-radius(1em);
    }
  }

  div.table-row.assistant div.table-cell {
    font-weight: bold;
    height: 2.5em;
  }

  div.table.committees {
    font-size: 90%;
    width: 100%;

    div {
      overflow: hidden;
    }

    div.table-cell {
      padding: 0.5em 0.25em
    }

    div.table-cell.additional {
      padding: 0 0.25em;
    }

    div.committee {
      width: 55%;
      text-align: left;
    }

    div.committee-chair {
      width: 45%;
      text-align: left;
    }
  }
}

div.term-info {
  text-align: center;
  font-style: italic;
}

div#standing-committees {
  margin-top: 1.5em;

  div.table-cell {
    font-size: 90%;
    padding-bottom: 1em;
    line-height: 1.5em;
    padding-left: 0.5em;
  }

  div.table-header {
    width: 50%;
    text-align: right;
    font-size: 1em;
    padding-right: 0.5em;
  }

  div.odd {
    background-color: lighten($background-blue, 6%);
  }

  div.even {
    background-color: $background-blue;
  }
}

div.assign-bridge input, div.assign-bridge select {
  margin: 0.5em;
}

div.assign-bridge div.start-date {
  margin: 0.5em;

  select {
    margin: 0;
  }
}

div.assign-bridge small {
  font-style: italic;
}

div.markdown {
  text-align: left;
  width: 75%;

  &:only-child {
    width: 100%;
  }

  h1 {
    text-align: center;
  }

  h2, h3, h4, h5, h6 {
    margin: 0.5em auto;
  }

  p {
    margin: 1.5em 0.5em;
    overflow: visible;
  }

  p.center {
    text-align: center;
  }

  img {
    max-width: 15em;
  }

  div.burgee svg {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  table {
    margin: 1em auto;
    text-align: left;

    th, td {
      padding: 0 1em;
    }
  }

  ul.md {
    li {
      margin-bottom: 0.5em;
    }

    li:before {
      width: 0.75em;
      height: 0.75em;
      margin-right: 0.5em;
      margin-left: -1.5em;
    }
  }
}

iframe#calendar {
  width: 100%;
  height: 50%;
  min-height: 50vh;
}

div.next-meeting {
  @include border-radius;
  padding: 0.25em 1em 0.25em 0.25em;
  font-size: larger;
  text-align: center;
  color: $old-glory-blue-light;
  background-color: $background-blue-faded;
  line-height: 1.75em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div.icon {
    text-align: center;
    font-size: 3em;
    flex-basis: 1;
    min-width: 1.5em;

    svg {
      margin: 0;
    }
  }

  div.meeting {
    width: 85%;
    flex-basis: 4;
  }

  div.attend {
    font-size: smaller;

    code {
      font-size: larger;
      font-style: normal;
    }
  }
}

div.notice {
  @include border-radius;
  padding: 0.25em;
  font-size: larger;
  text-align: center;
  color: $old-glory-blue-light;
  background-color: $background-blue-faded;
  line-height: 1.75em;
  width: 99%;
  margin: 0;
  display: table;

  div.icon {
    display: table-cell;
    font-size: 2em;
    padding-left: 0.5em;
    vertical-align: middle;
  }
}

div#activity-feed {
  background-color: $background-blue-faded;
  border-left: thin solid $old-glory-blue-faded;
  text-align: center;
  width: 25%;
  height: 100%;
  margin-left: 0.5em;
  padding: 0 0.5em;

  ul li {
    margin: 1em 0;

    div {
      line-height: 1.25em;
    }

    div.name {
      font-weight: bold;
      margin-bottom: 0.5em;
    }
  }
}

div#main div#content div#content-main.activity {
  display: flex;
}
