// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Profile
#profile {
  width: 65%;
  margin: 0 auto;

  .table-header {
    text-align: right;
    padding-right: 1em;
  }

  div.password-box {
    border: thin solid $old-glory-red;
  }

  .field {
    margin-bottom: 1.5em;
  }

  .profile-photo {
    text-align: center;
    vertical-align: middle;

    img {
      max-width: 15em;
      @include border-radius(2em);
    }
  }

  img.flag {
    width: 12em;
  }

  .insignia {
    text-align: center;
    vertical-align: middle;

    img {
      margin: 0.5em 0.25em;
      max-width: 50vw;
    }

    img.pin {
      max-width: 8em;
      max-height: 5em;
    }
  }
}

ul#profile-actions li {
  padding: 0.5em 0;
}

#profile-registrations {
  max-width: 85%;

  .table-cell.name {
    text-align: right;
    padding-right: 2em;
  }
}

// Users List
table#users {
  margin: 0 auto;
  
  img {
  	width: 3em;
  	height: 2em;
  }

  img.membership {
    width: 6em;
    height: auto;
  }

  tr.gray {
    background-color: lighten($background-blue, 5%);
    color: $old-glory-blue;
  }

  td  {
    height: 3em;
    padding: 0.5em;
  }

  hr {
    margin: 0.5em 0;
  }

  ul {
    margin: 0;
  }

  span.icon, i.fas, i.far, i.fal, i.fab {
    margin: 0.5em;
  }

  span.fa-layers {
    margin: 0;

    span.icon, i.fas, i.far, i.fal, i.fab {
      margin: 0;
    }
  }

  .very-narrow {
    width: 3em;
  }

  .narrow {
    width: 6em;
  }

  .medium {
    width: 13em;
  }

  .wide {
    width: 18em;
  }

  .small-text {
    font-size: 90%;
  }

  .locked {
    background-color: lighten($old-glory-red, 50%);
    color:            gray;

    a {
      color: $old-glory-red;
    }
  }

  input {
    float: right;
  }

  a {
    display: inline-block;
  }
}

// Permissions
#add-permission {
  margin:     0 auto;
  text-align: center;

  select.add-permission {
    width:  20em;
    margin: 1em;
  }
}

table#permissions {
  margin: 0 auto;
  width:  40%;

  th {
    text-align: left;
  }
}

ul.roles {
  list-style: none;
  padding: 0;
}

div#import-info {
  text-align: center;
  
  div {
    text-align: center;
    margin: 0.5em 0;
  }

  .table.columns div {
    width: 20%;
    font-family: 'Courier';
  }

  .table.ranks div {
    width: 33%;
  }
}

div#instructors {
  div.table-cell {
    line-height: 2em;
  }
}

img.lamp {
  max-width: 10em;
  margin-bottom: 1em;
}
