// Profile
div#profile {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  div.profile-photo {
    img {
      max-width: 15em;
      @include border-radius(2em);
      margin: 1em;
    }
  }

  div.insignia {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;

    img {
      margin: 0.5em 0.25em;
      max-width: 95%;
    }

    img.flag {
      width: 12em;
    }

    div.long {
      img {
        width: 20em;
      }

      img.s {
        width: 2.5em;
      }

      img.p {
        width: 6em;
      }

      img.ap, img.ap_edpro, img.jn, img.jn_edpro {
        width: 10.5em;
      }

      img.n, img.n_edpro {
        width: 18em;
      }
    }

    div#merit-marks img {
      width: 0.5em; /* Unspecified width for accuracy. This prevents unintended wrapping. */
    }

    img.pin {
      max-width: 8em;
      max-height: 5em;
    }
  }

  div.table-cell {
    padding-top: 1em;
    word-wrap: break-word;
  }

  ul {
    margin: 0;
  }
}

div.password-box {
  border: thin solid $black;
}

div.field {
  margin-bottom: 1.5em;
}

ul#profile-actions {
  li {
    padding: 0.5em 0;
  }
}

div#profile-registrations {
  max-width: 85%;

  div.table-cell.name {
    text-align: right;
    padding-right: 2em;
  }

  span.icon {
    display: inline-block;
  }
}

div.photo-editor {
  margin-top: 1em;
  padding-top: 0.5em;
}

// Users List
div#users {
  margin: 0 auto;
  width: 95%;

  img {
    width: 3em;
    height: 2em;
  }

  img.membership {
    width: 6em;
    height: auto;
  }

  div.table-cell  {
    height: 3em;
    padding: 1em 0.25em;
  }

  div.table-cell.user {
    width: 60%;

    div.name {
      text-align: center;
    }

    div.actions {
      margin-top: 0.75em;
      border-top: thin solid $black;
      padding-top: 0.75em;
      text-align: center;
    }
  }

  div.table-row:nth-child(even) div.table-cell.user div.actions {
    border-top: thin solid $black;
  }

  div.table-cell.certificate {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-bottom: 0.5em;
    height: fit-content;
  }

  div.table-cell.roles {
    text-align: center;

    div.chiclets { justify-content: center; }
  }

  div.table-cell.roles div.roles.bridge {
    margin-top: 1.5em;
  }

  div.role {
    margin: 0.5em 0;
  }

  hr {
    margin: 0.5em 0;
  }

  ul {
    margin: 0;
  }

  th.small-text {
    font-size: 90%;
  }

  input {
    float: right;
  }

  a {
    display: inline-block;
  }
}

// Permissions
#add-permission {
  margin:     0 auto;
  text-align: center;

  select.add-permission {
    width:  20em;
    margin: 1em;
  }
}

div#permissions {
  margin: 0 auto;
  width:  80%;
}

ul.roles {
  margin-top: 0;
  list-style: none;
  padding: 0;
}

div#import-info {
  text-align: center;

  div {
    text-align: center;
    margin: 0.5em 0;
  }

  div.table.columns div {
    width: 20%;
    font-family: 'Courier';
  }

  div.table.ranks div {
    width: 33%;
  }
}

div#auto-update-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div#instructors {
  div.table-cell {
    line-height: 2em;
  }
}

img.lamp {
  max-width: 10em;
  margin-bottom: 1em;
}

div#override-cost {
  div.table-cell {
    line-height: 2em;
  }

  span.cost {
    display: block;

    b {
      margin-right: 0.5em;
    }
  }
}

div#receipts {
  div.table-cell {
    height: 2em;
    min-width: 2em;
    vertical-align: middle;
  }

  div.receipt-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    div.receipt-actions-block {
      flex-basis: 5em;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0.5em 0;

      svg {
        margin: 0.25em;
      }

      a {
        display: inline-block;
        margin: 0;
      }
    }
  }

  small.receipt-details {
    display: block;
    margin-top: 1em;
  }
}

input#user-filter {
  width: 15em;
  font-size: 1.5em;
  margin: 1em;
}

div#corner-stripes {
  transform: rotate(30deg);
  transform-origin: top right;

  position: fixed;
  top: 10em;
  right: -10em;
  z-index: -1000;

  display: flex;
  flex-direction: column;
  gap: 2em;

  width: 75em;

  &.narrow { gap: 1em; }

  & > div {
    height: 2em;

    &.national { height: 8em; }
    &.district { height: 4em; }
  }
}

#import-results .table .table {
  .table-cell { width: 10em; }
}
