div.table.versions {
  div.table-row div.table-cell {
    padding: 0.5em 0.25em;
    overflow-x: auto;

    pre.version-diff {
      max-width: 25vw;
    }
  }
}

.differ {
  font-size: 1.2em;
}

ins.differ {
  color: green;
}

del.differ {
  color: red;
}

pre.version-diff {
  padding: 0 0.5em;
  text-align: left;
  white-space: pre-wrap;
}
