// Place all the styles related to the versions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table.versions .table-row .table-cell {
  padding: 0.5em 0.25em;
}

ins.differ {
  color: green;
}

del.differ {
  color: red;
}
