// Place all general styles here.

@import "global/colors";
@import "global/mixins";
@import "global/buttons";
@import "global/sliders";

@import "font-awesome";

body {
  font-family: Arial;
  color: $old-glory-blue;

  margin: 0 20%;
  padding: 0;

  background-color: $background-blue;
}

a {
  text-decoration: none;
  color: $birmingham-blue;
}

a:hover {
  color: darken($birmingham-blue, 20%);
}

a.red:hover {
  color: lighten($old-glory-red, 10%);
}

a.blue-faded:hover {
  color: lighten($old-glory-blue, 40%);
}

sup {
  font-size: 60%;
}

hr.clear {
  clear: both;
}

br.clear-left {
  clear: left;
  line-height: 0;
}

br.clear-right {
  clear: right;
  line-height: 0;
}

input.number {
  width: 5em;
}

.center {
  text-align: center;
}

div.editor {
  background-color: lighten($background-blue, 3%);
}

i.fa {
  margin: 0 0.5em;
}

div#main {
  background-color: darken($background-blue, 5%);
  @include shadow-box(4);
  @include border-radius(10px);
  margin: 0.5em 0 1em 0;
  border: thin solid $old-glory-blue-faded;

  header {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    border-bottom: thin solid $old-glory-blue-faded;

    div#main-header {
      width: 100%;
      margin: 0;
      text-align: center;

      div#header-left {
        float: left;
        width: 20%;
        max-width: 10em;
        padding: 0 1em;

        svg {
          width: 100%;
          max-width: 10em;
          height: auto;
          margin-top: 1em;
        }

        h2 {
          color: white;
          text-shadow: 3px 3px $old-glory-blue-faded;
        }
      }

      div#header-right {
        float: right;
        width: 75%;
        margin: 0;

        img {
          width: 100%;
          border-top-right-radius: 10px;
        }

        h1 {
          position: absolute;
          top: 0;
          left: 38%;
          color: white;
          text-shadow: 3px 3px $old-glory-blue-faded;
          font-size: 2.5em;
        }

        h4 {
          color: white;
          text-shadow: 2px 2px $old-glory-blue-faded;
          font-style: italic;
        }
      }
    }

    div#wave {
      width: 100%;
      position: absolute;
      top: 26.75%;
      z-index: 10;
    }
  }

  div#navigation {
    padding: 0.5em;
  }

  div#content {
    background-color: lighten($background-blue, 8%);
    padding-bottom: 0.5em;
  }

  footer {
    padding: 1em 0;
    border-top: thin solid $old-glory-blue-faded;
    text-align: center;

    div.copyright {
      margin-top: 1em;
    }
  }
}

div#flashes {
  div#notice {
    color: $birmingham-blue;
    background-color: inherit;
  }

  div#alert {
    color: $old-glory-red;
    background-color: lighten($old-glory-red, 40%);
    background-color: inherit;
  }

  div.slogan {
    font-style: italic;
  }
}

@import "navigation";
@import "public";
@import "members";
@import "user";
@import "store";
@import "file";
@import "events";
@import "devise";

@import "flex";

@import "overrides";
