// Flex Layout
.flex {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex > * {
    -webkit-flex: 1 100%;
    flex: 1 100%;
}


// Responsive Scaling
@media all and (min-width: 1250px) {
  #navigation {max-width: 11.4em;text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
  #content {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
  footer {-webkit-order:3;order:3;}

  #small-titles {
    display: none;
  }
}

@media all and (max-width: 1250px) {
  body {
    min-width: 40em;
    margin: 0 15%;
  }

  iframe#photos {
    width: 45em;
    max-width: 45em;
  }

  #small-titles {
    position: absolute;
    color: white;
    text-shadow: 3px 3px $old-glory-blue-faded;
    font-size: 125%;
    top: 0;

    h4 {
      position: absolute;
      font-size: 75%;
      top: 110%;
      right: 0;
      text-align: center;
    }
  }

  div#main-header {
    div#header-left {
      float: left;
      max-width: 20%;
      margin: 0.5em 0.5em 0.75em 0.5em;

      h2 {
        display: none;
      }

      svg {
        width: 100%;
        max-width: 5em;
        height: auto;
        margin-top: 0.25em;
      }
    }

    div#header-right {
      float: left;
      max-width: 70%;
      text-align: left;

      #large-titles {
        display: none;
      }

      h2, h3 {
        width: 100%;
        margin: 0.75em 0.25em 0.25em 1em;
      }

      h3 {
        margin-left: 1.25em;
      }
    }
  }

  iframe {
    max-width: 39.75em;
  }

  header #main-header {
    width: 100%;
    float: right;

    img {
      float: right;
      border-top-right-radius: 10px;
      /*max-width: 45%;*/
    }
  }

  #navigation {
    border-bottom: thin solid $old-glory-blue-faded;
    background-color: lighten($background-blue, 0.5%);

    div#flashes {
      min-height: 1.25em;
    }
  }

  #navigation ul {
    text-align: center;
    padding: 0;
  }

  #navigation ul a {
    display: inline-block;
    max-width: 32%;
  }

  #navigation ul li {
    display: inline-block;
    clear: none;
    width: 90%;
    line-height: 1.5em;
    margin: 0.5em 5%;
    padding: 0;
    font-size: smaller;
  }
}

@media all and (max-width: 1050px) {
  body {
    margin: 0 10%;
  }

  #small-titles h4 {
    display: none;
  }
}

@media all and (max-width: 850px) {
  body {
    margin: 0 7%;
  }

  #navigation ul li {
    max-width: 10.5em;
  }
}

@media all and (max-width: 475px) {
  body {
    margin: 0 5%;
  }

  #small-titles {
    font-size: 80%;
  }
}
