// Place all the styles related to the members controller here.

ul#admin-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
  }
}

table#bilge {
  width: 90%;
  margin: 0 auto;
  text-align: center;

  tr {
    height: 2em;
  }
}
