// Place all the styles related to the members controller here.

ul#admin-menu {
  width: 100%;
  background-color: lighten($old-glory-blue, 75%);
  padding: 0.25em 0;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 0.5em;
  }

  a {
    color: darken($birmingham-blue, 15%);
  }

  a:hover {
    color: darken($birmingham-blue, 5%);
  }
}

.red-border {
  margin: 1em 0;
  border-top: thin solid red;
  border-bottom: thin solid red;
}

form.edit_static_page textarea {
  background-color: lighten($background-blue, 12%);
  border: 0;
  margin-bottom: 1em;
  padding: 0.5em;
  font-family: Courier;
  width: 95%;
  min-height: 50%;
}

div#markdown-help {
  display: none;
}

div#markdown-details {
  font-size: 90%;

  ul {
    list-style: none;
    padding: 0;
  }
}

div#user-ranks {
  margin: 0 auto;
  text-align: center;

  .member {
    margin: 1.5em 4em;
    display: inline-block;
  }

  .rank, .grade {
    float: left;
    width: 2em;
    min-height: 1em;
  }

  .rank {
    text-align: right;
  }

  .grade {
    text-align: left;
  }

  .name {
    float: left;
    width: 15em;
  }
}
