// Place all the styles related to the members controller here.

ul#admin-menu {
  width: 100%;
  background-color: lighten($old-glory-blue, 75%);
  padding: 0.25em 0;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
  }

  a {
    color: darken($birmingham-blue, 15%);
  }

  a:hover {
    color: darken($birmingham-blue, 5%);
  }
}

form.edit_static_page textarea {
  background-color: lighten($background-blue, 12%);
  border: 0;
  margin-bottom: 1em;
  padding: 0.5em;
  font-family: Courier;
  width: 95%;
  min-height: 50%;
}

div.markdown-help {
  font-size: 60%;
}
