// Main Menu

#navigation a {
  color: white;
}

#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation ul li {
  @include border-radius(0.5em);
  float: left;
  list-style: none;
  text-align: center;
  background-color: $birmingham-blue;
  margin: 0.2em 0;
  line-height: 2em;
  width: 100%;
}

#navigation ul li:hover {
  background-color: darken($birmingham-blue, 20%);
}

#navigation ul a.red li {
  background-color: $old-glory-red;
}

#navigation ul a.red:hover li {
  background-color: darken($old-glory-red, 10%);
}

#navigation ul a.members li {
  background-color: lighten($old-glory-blue, 10%);
}

#navigation ul a.members:hover li {
  background-color: $old-glory-blue;
}
