li.active {
  background-color: $old-glory-red !important;
}

li.active:hover {
  background-color: darken($old-glory-red, 10%) !important;
}

li.active:active {
  background-color: darken($old-glory-red, 20%) !important;
}
