// Place all the styles related to the public controller here.

table#bilge {
  width: 90%;
  margin: 0 auto;
  text-align: center;

  tr {
    height: 3em;
  }

  td {
    max-width: 3em;
  }

  a {
    @include blue-button(0.25em);
  }
}
