// Place all the styles related to the public controller here.

table#bilge {
  width: 90%;
  margin: 0 auto;
  text-align: center;

  tr {
    height: 3em;
  }

  td {
    max-width: 3em;
  }

  a {
    @include blue-button(0.25em);
  }

  td.excom a {
    background-color: lighten($old-glory-blue, 10%);
  }
}

#bridge {
  width: 100%;
  text-align: left;

  .table-cell {
    vertical-align: top;
    padding: 0.25em;
  }

  hr {
    margin-top: 2em;
  }

  .flag {
    width: 22%;
    text-align: center;
  }

  .department {
    width: 22%;
    text-align: center;
  }

  .table-row.assistant .table-cell {
    font-weight: bold;
    height: 2.5em;
  }

  .table.committees {
    font-size: 90%;
    width: 100%;

    .table-cell {
      padding: 0.75em 0.25em 0 0.25em;
    }

    .table-cell.additional {
      padding: 0 0.25em;
    }

    .committee {
      width: 55%;
      text-align: left;
    }

    .committee-chair {
      width: 45%;
      text-align: left;
    }
  }

  #committees {
    width: 100%;
    text-align: left;
  }

  svg {
    width: 9em;
    height: 6em;
  }
}

.term-info {
  text-align: center;
  font-style: italic;
}

#standing-committees {
  margin-top: 1.5em;

  .table-cell {
    font-size: 90%;
    padding-bottom: 1em;
    line-height: 1.5em;
    padding-left: 0.5em;
  }

  .table-header {
    width: 50%;
    text-align: right;
    font-size: 1em;
    padding-right: 0.5em;
  }
}

div.assign-bridge input, div.assign-bridge select {
  margin: 0.5em;
}

div.assign-bridge .start-date {
  margin: 0.5em;

  select {
    margin: 0;
  }
}

div.assign-bridge small {
  font-style: italic;
}

table#events {
  width: 90%;
  margin: 0 auto;

    a.control {
      display: block;
      margin: 0.5em 0;
    }

    th.title {
      font-size: 110%;
      color: $old-glory-red;
    }

    th.section {
      font-size: 125%;
    }

    span.costs {
      font-size: 80%;
    }

    td.right {
      max-width: 25%;
    }

    td.spacer hr {
      margin: 3em 0;
    }

    iframe {
      width: 100%;
      height: 67em;
    }

    td.flyer {
      text-align: center;
    }
}

div#new-event {
  width: 80%;
  margin: 0 auto;

  label {
    font-weight: bold;
  }

  textarea {
    width: 75%;
    height: 7.5em;
  }

  div.left {
    width: 49%;
    float: left;
    text-align: right;
    margin-bottom: 1em;
  }

  div.right {
    width: 49%;
    float: right;
    text-align: left;
    margin-bottom: 1em;

    small {
      margin-left: 0.25em;
    }
  }

  div.center {
    width: 100%;
    text-align: center;
  }

  br.clear {
    clear: both;
  }
}

ul#education {
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  li {
    @include blue-button;
    width: 10em;
    display: inline-block;
    margin: 1em;
  }
}


div.markdown {
  text-align: left;
  padding: 0 0.5em;

  h2 {
    text-align: center;
  }

  p {
    margin: 1.5em 0.5em;
  }

  p.center {
    text-align: center;
  }

  img {
    max-width: 15em;
  }

  svg {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  table {
    margin: 1em auto;
    text-align: left;

    th, td {
      padding: 0 1em;
    }
  }
}

iframe#calendar, iframe#photos {
  width: 100%;
  height: 50%;
}
