// Place all the styles related to the public controller here.

table#bilge {
  width: 90%;
  margin: 0 auto;
  text-align: center;

  tr {
    height: 3em;
  }

  td {
    max-width: 3em;
  }

  a {
    @include blue-button(0.25em);
  }
}

table#bridge {
  width: 90%;
  margin: 0 auto;
  text-align: left;

  td, th {
    vertical-align: top;
    padding: 0.25em;
  }

  td.flag {
    width: 10%;
  }

  th.department {
    width: 25%;
  }

  td.committee {
    width: 25%;
  }

  td.committee-chair {
    width: 40%;
  }

  td.spacer {
    height: 2em;
  }

  table#committees {
    width: 100%;
    text-align: left;
  }

  svg {
    width: 150px;
    height: 100px;
  }
}

table#events {
  width: 90%;
  margin: 0 auto;

    a.control {
      display: block;
      margin: 0.5em 0;
    }

    th.title {
      font-size: 110%;
      color: $old-glory-red;
    }

    th.section {
      font-size: 125%;
    }

    span.costs {
      font-size: 80%;
    }

    td.spacer hr {
      margin: 3em 0;
    }
}

div#new-event {
  width: 80%;
  margin: 0 auto;

  label {
    font-weight: bold;
  }

  textarea {
    width: 75%;
    height: 7.5em;
  }

  input.number {
    width: 5em;
  }

  div.left {
    width: 49%;
    float: left;
    text-align: right;
    margin-bottom: 1em;
  }

  div.right {
    width: 49%;
    float: right;
    text-align: left;
    margin-bottom: 1em;

    small {
      margin-left: 0.25em;
    }
  }

  div.center {
    width: 100%;
    text-align: center;
  }

  br.clear {
    clear: both;
  }
}

ul#education {
  padding: 0;
  list-style: none;

  li {
    @include blue-button;
    width: 15%;
    display: inline-block;
    margin: 1em;
  }
}
