// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Profile
#profile {
  width:     50%;
  margin:    0 auto;
}

  #profile .profile-left {
    float:       left;
    font-weight: bold;
  }

  #profile .profile-right {
    float: right;
  }

  #profile div.password-box {
    border: thin solid $old-glory-red;
  }

  #profile .field {
    margin-bottom: 1.5em;
  }

// Users List
table#users {
  margin: 0 auto;

  tr.gray {
    background-color: $background-blue;
  }

  td  {
    height:  3em;
    padding: 0.25em;
  }

  .narrow {
    width: 5em;
  }

  .medium {
    width: 10em;
  }

  .wide {
    width: 15em;
  }

  .locked {
    background-color: lighten($old-glory-red, 50%);
    color:            gray;

    a {
      color: $old-glory-red;
    }
  }

  input {
    float: right;
  }
}

// Permissions
#add-permission {
  margin:     0 auto;
  text-align: center;

  select.add-permission {
    width:  20em;
    margin: 1em;
  }
}

table#permissions {
  margin: 0 auto;
  width:  40%;

  th {
    text-align: left;
  }
}
