= render 'application/mailers/auto'

h1.birmingham Float Plan Submitted

p The following float plan has been submitted.

p Please check the dates and times and plan to follow up on this plan as appropriate.

p = link_to 'Float Plan PDF', @float_plan.link

- if @float_plan.user.present?
  h2 Submitted by
  p = @float_plan.user.full_name
  p = @float_plan.user.email

h2 Contact
p = @float_plan.name
p = @float_plan.phone

h2 Travel Times
p Leave at: #{@float_plan.leave_at}
p Return at: #{@float_plan.return_at}
p Alert at: #{@float_plan.alert_at}
