= favicon_link_tag BPS::S3.new(:static).link('favicon.ico')
link rel="apple-touch-icon" href=(BPS::S3.new(:static).link('seahorse/square/icons/180.png'))
link rel="apple-touch-icon-precomposed" sizes="180x180" href=(BPS::S3.new(:static).link('seahorse/square/icons/180.png'))
link rel="apple-touch-icon-precomposed" sizes="120x120" href=(BPS::S3.new(:static).link('seahorse/square/icons/120.png'))
link rel="apple-touch-icon-precomposed" sizes="60x60" href=(BPS::S3.new(:static).link('seahorse/square/icons/60.png'))
