= favicon_link_tag BPS::S3.new(:static).link('favicon/seahorse.ico')
link rel="apple-touch-icon" href=(BPS::S3.new(:static).link('seahorse/square/icons/white/180.png'))
link rel="apple-touch-icon-precomposed" sizes="180x180" href=(BPS::S3.new(:static).link('seahorse/square/icons/tr/180.png'))
link rel="apple-touch-icon-precomposed" sizes="120x120" href=(BPS::S3.new(:static).link('seahorse/square/icons/tr/120.png'))
link rel="apple-touch-icon-precomposed" sizes="60x60" href=(BPS::S3.new(:static).link('seahorse/square/icons/tr/60.png'))
