- if ENV["ASSET_ENVIRONMENT"].in? ["production", "staging"]
  = render "analytics", key: ENV["GA_TRACKING_ID"]

- if ENV["ASSET_ENVIRONMENT"].in? ["production"]
  = render "facebook_pixel", key: ENV["FACEBOOK_PIXEL_ID"]
