h2 Squadron Calendar

= editor('calendar_editor') if current_user&.permitted?(:calendar)

iframe#calendar src="https://calendar.google.com/calendar/embed?src=bpsd9.org_nc5ngb2burmgim9dvfpeq5gduk%40group.calendar.google.com&ctz=America%2FNew_York" frameborder="0" scrolling="no"
