h2 = "Squadron #{params[:type].to_s.titleize} Catalog"

= render "application/education_menu", active: {courses: (params[:type] == :course), seminars: (params[:type] == :seminar)}, catalog: true if params[:type].in? [:course, :seminar]

= render "events/table_sections", type: params[:type], all_events: @event_catalog
