h2 Squadron Photos

/ - if current_user&.permitted?(:photos)
/   .editor
/     hr
/     hr

a data-fancybox="gallery" href=(image_path('flags/PNG/LTC.png'))
  = image_tag "flags/PNG/LTC.thumb.png"
a data-fancybox="gallery" href=(image_path('flags/PNG/CDR.png'))
  = image_tag "flags/PNG/CDR.thumb.png"
