h1 Ship's Store

h2.red This page is currently under construction.

/ table#items
/   - @store_items.each do |item|
/     - image = item&.get_image
/     tr
/       td rowspan=(5 + item.options_hash.count) = image_tag image, width: 200
/       th colspan=2 = item.name.titleize
/     tr
/       td colspan=2 = item.description
/     tr
/       td colspan=2
/         | $
/         = number_with_precision(item.price, precision: 2)
/     tr
/       td colspan=2
/         - if item.stock > 0
/           | In stock: 
/           = item.stock
/         - else
/           | Out of stock!
/     - item.options_hash.each do |k, v|
/       tr.options
/         td = k.titleize + ":"
/         td = v
/     tr
/       td colspan=2
/         - if user_signed_in?
/           - if @store_item_requests.find_by(user_id: current_user.id, store_item_id: item.id).present?
/             span.red Requested
/           - else
/             = link_to(request_store_item_path(item.id), method: :put, remote: true, id: "request_item_#{item.id}") do
/               = FA::Icon.p("cart-plus")
/               | Request
/         - if current_user&.permitted?(:store)
/           br.mobile
/           = link_to(edit_store_item_path(item.id), class: "blue-faded") do
/             = FA::Icon.p("edit")
/             | Edit
/           br.mobile
/           = link_to(destroy_store_item_path(item.id), method: :delete, class: "red") do
/             = FA::Icon.p("minus-square")
/             | Remove
/     tr
/       td colspan=3
/         hr

/ - if current_user&.permitted?(:store) && @store_item_requests.present?
/   h2 Requested Items
/   table#requested-items
/     - @store_item_requests.each do |request|
/       tr
/         td = link_to request.user.full_name, request.user.email
/         td = request.store_item.name
/         td = request.store_item.options_hash
/         td = link_to "Fulfill", fulfill_store_item_path(request.id), method: :patch, remote: true, id: "fulfill_item_#{request.id}"
