h1 Preview Page
h2 = @page.name.titleize

.red-background
  h3.red This is only a preview! Your changes have not yet been saved.
  h4.red Your changes will be lost if you refresh or leave this page.

.red-border = @preview_html

= render "edit_markdown_form", markdown: @new_markdown

= render "markdown_help"
