@import "colors/_dark";

@media (prefers-color-scheme: dark) {
  // General Color Classes

  .red             { color: darken($old-glory-red-desaturated, 20%); }
  .issue           { color: $issue-red; }
  .orange          { color: $orange; }
  .gold            { color: $gold; }
  .insignia-gold   { color: $dark-gold; }
  .pending         { color: $pending-green; }
  .green           { color: $green; }
  .birmingham-blue { color: $birmingham-blue-desaturated; }
  .blue            { color: $old-glory-blue; }
  .admin           { color: $purple-desaturated; }
  .gray            { color: $gray; }

  // Background Colors

  .gray-background { background-color: $gray; }
  .highlight       { background-color: $darker-green !important; }
  .lowlight        { background-color: $dark-main-background-blue !important; }

  // Set color to match background
  .background      { color: $dark-content-background; }

  .red-background {
    background-color: $old-glory-red-desaturated;

    .red { color: $dark-text; }
  }

  div.flags > div {
    color: $dark-text;
    border-color: $old-glory-blue;
    background: $dark-background-blue;
    box-shadow: 1px 2px 1px $old-glory-blue;

    &.birmingham-blue {
      border-color: $birmingham-blue-desaturated;
      background: rgba($birmingham-blue-desaturated, 0.5);
    }
    &.blue {
      border-color: $old-glory-blue;
      background: rgba($old-glory-blue, 0.5);
    }
    &.green {
      border-color: $green;
      background: rgba($dark-green, 0.5);
    }
    &.red {
      border-color: $old-glory-red;
      background: rgba($old-glory-red-desaturated, 0.5);
    }
    &.purple {
      border-color: $purple;
      background: rgba($dark-purple, 0.5);
    }
  }

  .scrollable { border-color: $background-darken-10; }

  body {
    color: $dark-text;
    background-color: $dark-main-background-blue;
  }

  a { color: $birmingham-blue-desaturated; }

  button > a { color: $dark-text; }

  hr { border-color: $gray; }

  div#main {
    background-color: $dark-background-blue;
    border-color: $old-glory-blue-faded;

    header {
      div#desktop-header {
        .logo { background-color: $dark-logo-background; }
        .slogan { color: $dark-text; }

        div.header img.header { opacity: 50%; }
      }

      div#print-header { background-color: $dark-content-background-65; }

      // Desaturate logo
      div#desktop-header .logo img, div#print-header img {
        filter: none;
        -webkit-filter: grayscale(25%);
        -moz-filter:    grayscale(25%);
        -ms-filter:     grayscale(25%);
        -o-filter:      grayscale(25%);
      }
    }

    div#content {
      background-color: $dark-content-background;

      div#content-main {
        div#activity-feed {
          background-color: $dark-content-background-65;
          border-color: $old-glory-blue-faded;

          a li {
            color: $dark-text;
            background-color: $dark-content-background;
            border-color: $old-glory-blue-desaturated;
          }

          a:hover li { background-color: $dark-content-background-65; }
        }
      }
    }

    footer { border-color: $old-glory-blue-faded; }
  }

  div#show-sidenav { background-color: $dark-content-background-65; }

  div#sidenav, div.sub-menu {
    background-color: $dark-content-background;
    border-color: $old-glory-blue-desaturated;
  }

  #navigation, #sidenav {
    ul a li,
    ul a.red li,
    ul a.members li,
    ul a.admin li { color: $dark-text; }

    ul a li         { background-color: $birmingham-blue-desaturated; }
    ul a.red li     { background-color: $old-glory-red-desaturated; }
    ul a.members li { background-color: $old-glory-blue-desaturated; }
    ul a.admin li   { background-color: $purple-desaturated; }
  }

  #nested-navigation {
    background-color: $dark-background-blue-faded-30;
    border-color: $old-glory-blue-desaturated;

    ul {
      a       { color: $birmingham-blue-darker; }
      a.admin { color: $purple; }

      li:hover { background-color: $dark-background-blue-faded-35; }

      ul {
        background-color: $dark-background-blue-faded-35;

        a        { color: $birmingham-blue-darker; }
        a:hover  { background-color: $dark-background-blue-faded-40; }
        li:hover { background-color: $dark-background-blue-faded-40; }

        ul {
          background-color: $dark-background-blue-faded-35;

          li { color: $birmingham-blue-darker; }
          a:hover  { background-color: $dark-background-blue-faded-40; }
          li:hover { background-color: $dark-background-blue-faded-40; }
        }
      }
    }
  }

  div.red-border { border-color: $old-glory-red-desaturated; }

  ul#education {
    li {
      color: $dark-text;
      background-color: $birmingham-blue-desaturated;
    }

    li.catalog-button {
      color: $dark-text;
      background-color: $old-glory-blue-desaturated;
    }

    li.active { background-color: $old-glory-red-desaturated; }
  }

  div#flashes {
    div#success {
      color: $old-glory-blue;
      background-color: $birmingham-blue-desaturated-faded;
      border-color: $birmingham-blue;
    }

    div#notice {
      color: $old-glory-blue-lighten-20;
      background-color: $birmingham-blue-desaturated;
      border-color: $old-glory-blue-lighten-40;
    }

    div#alert {
      color: $old-glory-red-desaturated;
      background-color: $dark-old-glory-red-faded-25;
      border-color: $old-glory-red-desaturated;
    }

    div#error {
      color: $old-glory-red-desaturated;
      background-color: $dark-old-glory-red-faded-35;
      border-color: $old-glory-red-lighten-30;
    }

    div a.close-flash { color: $black; }
  }

  div.next-meeting {
    color: $dark-text;
    background-color: $dark-main-background-blue;

    svg { color: $birmingham-blue-desaturated; }
    .red { color: $old-glory-red-desaturated; }
  }

  a.green { color: $dark-green; }

  a.big, a.medium, button.big, button.medium, div.markdown button.blue-button {
    color: $dark-text;
    background-color: $birmingham-blue-desaturated;
  }

  a.big.green {
    color: $dark-text;
    background-color: $green-desaturated;
  }

  a.big.green:hover {
    background-color: $green;
  }

  input:not([type='file']), select, textarea { background-color: $dark-text; }

  div#new textarea.bulletted { background-color: $dark-background-blue-faded-10; }

  div#editor { background-color: $dark-editor-background; }

  div#login {
    div#show-change-password a { color: $dark-red; }
    div#change-password { background-color: $old-glory-red-desaturated; }
  }

  div.password-box { border-color: $old-glory-red-desaturated; }

  div#users {
    div.table-cell.user div.actions { border-color: $light-gray; }

    div.table-row.locked div.table-cell {
      background-color: $old-glory-red-desaturated;
      color: $light-gray;

      a { color: $dark-red; }
    }

    div.table-row.locked:nth-child(odd) div.table-cell {
      background-color: $dark-old-glory-red-faded-25;
    }

    div.table-row.locked:nth-child(even) div.table-cell {
      background-color: $old-glory-red-desaturated;
    }
  }

  div#corner-stripes > div { background: rgba($white, 0.1); }

  div.events-unified-table div.event-unified {
    div.title { color: $old-glory-red-desaturated; }

    &.even {
      background-color: $dark-background-blue-faded-40;

      div.title { color: $dark-red; }

      a             { color: $birmingham-blue-darker; }
      a:hover       { color: $birmingham-blue-dark; }
      a.blue        { color: $old-glory-blue-desaturated-faded; }
      a.blue:hover  { color: $birmingham-blue-dark; }
      a.red         { color: $dark-red; }
      a.red:hover   { color: $old-glory-red; }
      a.admin       { color: $purple-desaturated; }
      a.admin:hover { color: $purple; }
      a.green       { color: $green-desaturated; }
      a.green:hover { color: $green; }
    }

    div.event-top-block div.invisible-flag { color: $old-glory-red-desaturated; }
    div.event-display-title { color: $old-glory-red-desaturated; }
    div.event-flags { color: $birmingham-blue-desaturated; }

    div.event-column-right div.event-actions div.event-actions-menu div.event-actions-list {
      background-color: $dark-background-blue-faded-30;

      a.birmingham-blue { color: $birmingham-blue-darker; }
      a:hover           { color: $old-glory-blue-desaturated-faded; }
      a.blue:hover      { color: $birmingham-blue-dark; }
      a.green:hover     { color: $birmingham-blue-dark; }
    }
  }

  div#expired-events-section {
    background-color: $old-glory-red-desaturated;

    div.event-unified.even { background-color: $dark-old-glory-red-faded-25; }

    div.title { color: $old-glory-blue; }
  }

  div.table.locations div.price-comment { color: $old-glory-red-desaturated; }

  div#otw form:hover .fa-square { color: $birmingham-blue-desaturated; }
  div#otw-progress div.table-row div.table-cell.satisfied { color: $green-desaturated; }

  div.application-review hr { border-color: $old-glory-blue-desaturated; }

  div#bilge a               { background-color: $birmingham-blue-desaturated; }
  div#bilge a.members       { background-color: $old-glory-blue-desaturated; }
  div#bilge a.members:hover { background-color: $old-glory-blue-desaturated-faded; }

  div#announcements a.download { background-color: $birmingham-blue-desaturated; }

  ul#profile-actions li a.green { color: $green; }

  div#otw-progress div.table-row div.table-cell.satisfied {
    color: $darker-green;

    svg.green { color: $darker-green; }
  }

  div#markdown-help .red { color: $old-glory-red-desaturated; }

  div#instructors .birmingham-blue { color: $old-glory-blue-desaturated; }

  div#payment-box {
    background-color: $dark-editor-background;
    border-color: $old-glory-blue;

    div#payment-description { color: $dark-red; }

    button#pay-button {
      color: $dark-text;
      background-color: $birmingham-blue-desaturated;
    }

    button#pay-button:hover { background-color: $dark-birmingham-blue; }

    a { color: $old-glory-blue-desaturated; }
  }

  div.table-row.gray {
    div.table-cell {
      color: $old-glory-blue;
      background-color: $dark-background-blue-faded-30;
    }

    div.table-cell.red {
      color: $old-glory-red;
      background-color: $dark-background-blue-faded-30;
    }

    div.table-cell.gray {
      color: $gray;
      background-color: $dark-background-blue-faded-30;
    }
  }

  div.table.striped {
    div.table-row:nth-child(odd)  { background-color: $dark-background-blue-faded-30; }
    div.table-row:nth-child(even) { background-color: $dark-background-blue-faded-40; }
    div.table-row.odd             { background-color: $dark-background-blue-faded-30; }
    div.table-row.even            { background-color: $dark-background-blue-faded-40; }
    div.table-row.header          { background-color: inherit; }

    a             { color: $birmingham-blue-darker; }
    a:hover       { color: $birmingham-blue-dark; }
    a.blue        { color: $old-glory-blue-desaturated; }
    a.blue:hover  { color: $old-glory-blue; }
    a.red         { color: $dark-red; }
    a.red:hover   { color: $old-glory-red; }
    a.admin       { color: $purple-desaturated; }
    a.admin:hover { color: $purple; }
    a.green       { color: $green-desaturated; }
    a.green:hover { color: $green; }
  }

  div.table.double-striped {
    color: $dark-text;

    div.table-row:nth-of-type(4n+3),
    div.table-row:nth-of-type(4n+3) + * {
      background-color: $dark-background-blue-faded-30;
    }
    div.table-row:nth-of-type(4n+1),
    div.table-row:nth-of-type(4n+1) + * {
      background-color: $dark-background-blue-faded-40;
    }

    div.table-row.header { background-color: inherit; }
  }

  input.big, button.big, a.big {
    background-color: $birmingham-blue-desaturated;
  }

  input.medium, button.medium, a.medium {
    background-color: $birmingham-blue-desaturated;
  }

  input.medium.light, button.medium.light, a.medium.light {
    // No changes
  }

  input.cancel, button.cancel, a.cancel {
    background-color: $old-glory-red-desaturated;
  }

  // Sliders

  .switch div.description { color: $dark-text; }
  .slider { background-color: $birmingham-blue-desaturated; }
  .slider:before { background-color: $dark-text; }
  input:checked + .slider { background-color: $old-glory-red-desaturated; }

  // Unchecked Colors
  .slider {
    &.darkblue-red       { background-color: $old-glory-blue-desaturated; }
    &.darkblue-lightblue { background-color: $old-glory-blue-desaturated; }
    &.lightblue-red      { background-color: $birmingham-blue-desaturated; }
    &.lightblue-darkblue { background-color: $birmingham-blue-desaturated; }
    &.red-lightblue      { background-color: $old-glory-red-desaturated; }
    &.red-darkblue       { background-color: $old-glory-red-desaturated; }
  }

  // Checked Colors
  input:checked + .slider {
    &.darkblue-red       { background-color: $old-glory-red-desaturated; }
    &.darkblue-lightblue { background-color: $birmingham-blue-desaturated; }
    &.lightblue-red      { background-color: $old-glory-red-desaturated; }
    &.lightblue-darkblue { background-color: $old-glory-blue-desaturated; }
    &.red-lightblue      { background-color: $birmingham-blue-desaturated; }
    &.red-darkblue       { background-color: $old-glory-blue-desaturated; }
  }
}
